.main-page-container__movie-lists {
  h3 {
    margin-top: 60px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  div {
    ul {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      position: relative;
      overflow: hidden;

      li {
        margin-right: 15px;

        .img {
          cursor: pointer;
          border-radius: 15px;
          transition: transform 1s ease, border 0.5s ease;

          &:hover {
            border-radius: 15px;
            border: 4px solid white;
            transform: scale(0.97);
          }
        }
      }

      li:last-child {
        margin: 0;
      }
    }
  }
}