html, body {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;

  body {
    background-color: #000000;
    color: white;

    .main-page-container {
      margin: 0 20px;
      font-family: "Nirmala UI";
    }
  }
}